.login {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f7f7fa;
  overflow: hidden;

  &-title {
    display: none;
    font-size: 30px;
    color: #333333;
    font-weight: 500;
  }

  &-banner {
    img {
      width: 100%;
    }
  }

  &-content {
    @gap: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 480px;
    background: #FFFFFF;
    box-shadow: 0 0 20px 0 rgba(187, 191, 196, 0.30);
    border-radius: 12px;
    padding: @gap;
    box-sizing: border-box;
    overflow: hidden;

    &__title {
      font-size: 28px;
      color: #333333;
      letter-spacing: 0;
      font-weight: 500;
      margin-bottom: 28px;
    }

    &__phase {
      position: relative;
      width: calc(200% + @gap);
      flex: 1;
      display: flex;
      overflow: hidden;
      gap: @gap;
      transition: all .25s;

      &--step {
        text-align: center;
        flex: 1;
      }

      &.step2 {
        transform: translateX(calc(-50% - @gap / 2));
      }

      .avatar {
        width: 72px;
        height: 72px;
        box-sizing: border-box;
        border-radius: 50%;
        margin: 4px 0 24px 0;
      }
    }

    &__footer {
      margin-top: auto;
      text-align: center;

      hr {
        margin-bottom: 40px;
        border: none;
        height: 1px;
        background-color: #D0D3D6;
      }

      a {
        text-decoration: unset;
        font-size: 14px;
        color: #3371FF;
      }
    }
  }


}

@media screen and (max-width: 1000px) {
  .login {
    flex-direction: column;
    gap: 0;
    justify-content: flex-start;

    &-title {
      display: block;
      margin: 50px 0 7.8vh 0;
    }

    &-banner {
      position: absolute;
      bottom: 0;
      left: 0;
    }

    &-content {
      margin: 0 4%;
      width: 92%;
      height: 49vh;
    }
  }
}